# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Configs
configs/aws*
configs/gcp*

# Jupyter Notebooks
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# Logs
logs/

# Environment Files
*.env

