# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Configs
configs/aws*
configs/gcp*

# Jupyter Notebooks
.ipynb_checkpoints/

# Data
data/raw/
data/processed/
data/parquet_modified_data
data/processed-from-cloud

# Logs
logs/

# Environment Files
*.env


